@font-face {
    font-family:"NotoSans-Regular";
    src: url("/static/assets/fonts/NotoSans-Regular.ttf") format("truetype");
}

body {
    background-color: rgb(42, 42, 42);
    font-family: NotoSans-Regular;
}

#overlayDiv {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 5;
}

#playerInfo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 6;
    background-color: rgb(250, 250, 250);
    padding-top: 7vh;
    padding-bottom: 7vh;
    padding-left: 8vw;
    padding-right: 8vw;
    width: 15em;
    overflow-y: hidden;
}

#gameIcon {
    width: 8em;
}

#playerIdTextarea {
    resize: none;
    width: 100%;
    text-align: center;
}

#enterGameButton {
    background-color: rgb(39, 91, 247);
    color: rgb(250, 250, 250);
    font-family: inherit;
    font-size: large;
    border: 0;
    cursor: pointer;
    padding: 2%;
    border-radius: 3%;
    margin-top: 1em;
    right: 25%;
}

#enterGameButton:hover {
    background-color: rgb(74, 116, 241);
}

#error {
    color: red;
}

.box {
    text-align: center;
    position: absolute;
    font-size: 1.25em;
    top: 50%;
    left: 50%;
    color: rgb(250, 250, 250);
    padding: 5%;
    border-radius: .25em;
    transform: translate(-50% , -50%);
}

input {
    background-color: rgb(255, 255, 255);
    color: rgb(28, 28, 28);
    text-align: center;
    border-width: 0;
    border-radius: .5em;
}

#registerButton {
    position: fixed;
    background-color: transparent;
    border: 0;
}

.buttonSymbol {
    color: rgb(212, 212, 212);
    text-decoration: solid;
    font-weight: bolder;
    font-size: 1.7em;
}