<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/game.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/assets/icons/favicon.ico">
    <title>GeoTag</title>
  </head>
  <body>

    <img id="runnerIcon" src="/static/assets/icons/runner-icon.svg">
    <img id="meIcon" src="/static/assets/icons/me-icon.svg">

    <div id="overlayDiv" style="display: none;">

      <div class="popup" id="confirmRunnerPopup" style="display: none;">
        <h2>Become the runner</h2>
        <hr>
        <p>Are you sure you want to become the runner and start the jail peroid?</p>
        <button class="button grayButton confirmButton" onclick="closeUI()">NO</button>
        <button class="button redButton confirmButton" onclick="becomeRunner()">YES</button>
      </div>

      <div class="popup" id="restartJailPopup" style="display: none;">
        <h2>Restart jail peroid</h2>
        <hr>
        <p>Are you sure you want to restart the jail period?</p>
        <button class="button grayButton confirmButton" onclick="closeUI()">NO</button>
        <button class="button redButton confirmButton" onclick="restartJailPeriod()">YES</button>
      </div>

      <div class="popup" id="logOutPopup" style="display: none;">
        <h2>Log out</h2>
        <hr>
        <p>Are you sure you want to log out?</p>
        <button class="button grayButton confirmButton" onclick="closeUI()">NO</button>
        <button class="button redButton confirmButton" onclick="logOut()">YES</button>
      </div>


    </div>

    <div id="hud">
      <h2 id="runnerInfo" onclick="flyToRunner()">Runner: ??? (0min 0s)</h2>
      <button class="button blueButton" id="becomeRunnerButton" onclick="becomeRunnerButton()" style="display: none;">BECOME RUNNER</button>
      <button class="button blueButton" id="restartJailButton" onclick="restartJailButton()" style="display: none;">RESTART JAIL</button>
      <button class="button redButton id="logOutButton" onclick="logOutPopup()">LOG OUT</button>
    </div>

    <div class="footer">
    </div>

    <div id="map">
    </div>
    
    <script src="/static/game.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" crossorigin="anonymous"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js" crossorigin="anonymous"></script>
</body>
</html>
