<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/game.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
    <title>GeoTag</title>
  </head>
  <body>

    <img id="runnerIcon" src="/static/assets/icons/runner-icon.svg">
    <img id="meIcon" src="/static/assets/icons/me-icon.svg">

    <div class="hud">
      <h2 id="runnerInfo" onclick="flyToRunner()">Runner: ??? (0min 0s)</h2>
    </div>

    <div id="map">
    </div>
    
    <script src="/static/game.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" crossorigin="anonymous"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js" crossorigin="anonymous"></script>
</body>
</html>
