<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/register.css" rel="stylesheet" crossorigin="anonymous">
    <title>Choose your name</title>
  </head>
  <body>
    <p id="error"></p>
    Username: <input type="text" id="usernameInput" maxlength="8"> <br>
    <button onclick="register()" id="registerButton">Start</button>

    <script src="/static/register.js" crossorigin="anonymous"></script>
  </body>
</html>